# Database connection provided for Easypanel / PostgreSQL
DATABASE_URL=postgres://rubenroquemx:Leylichis.141213@ruben-roque_legislab-db:5432/legislab-db?sslmode=disable

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=legislab_secret_session_key_2026_tabasco_04

# Timezone Configuration (Mexico City / UTC-6)
TZ=America/Mexico_City
